<div class="card">
    <div class="card-header">
        Detalhes de pacotes
    </div>
    <div class="card-body">


        <div class="form-group row">
            <label for="nome"class="col-md-4 col-form-label text-md-right">
                Nome
            </label>
            <div class="col-md-6">
               <label class="detail-control">
                   {{pacote.nome}}
               </label>
            </div>
        </div>

        <div class="form-group row">
            <label for="valor" class="col-md-4 col-form-label text-md-right">
                Valor
            </label>
            <div class="col-md-6">
                <label class="detail-control">
                    {{pacote.valor | currency : 'BRL'}}
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="dataInicio" class="col-md-4 col-form-label text-md-right">
                Data de Início
            </label>
            <div class="col-md-6">
                <label class="detail-control">
                    {{pacote.dataInicio | date: 'dd/MM/yyyy'}}
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="dataFim" class="col-md-4 col-form-label text-md-right">
                Data de Fim
            </label>
            <div class="col-md-6">
                <label class="detail-control">
                    {{pacote.dataFim | date: 'dd/MM/yyyy'}}
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="telefone" class="col-md-4 col-form-label text-md-right">
                Telefone
            </label>
            <div class="col-md-6">
                <label class="detail-control">
                    {{pacote.telefone}}
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="site" class="col-md-4 col-form-label text-md-right">
                Site
            </label>
            <div class="col-md-6">
                <label class="detail-control">
                    {{pacote.site}}
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label for="descricao" class="col-md-4 col-form-label text-md-right">
                Descrição
            </label>
            <div class="col-md-6">
                <label class="detail-control">
                    {{pacote.descricao}}
                </label>
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4">
                <button routerLink="/listagem-pacote" type="submit" 
                class="btn btn-sm btn-primary">
                    Voltar
                </button>
            </div>
        </div>


    </div>
</div>