<div class="alert alert-danger">
    Tem certeza que deseja excluir o pacote abaixo?    
</div>

<div class="card">
    <div class="card-header">
        Exclusão de pacotes
    </div>
    <div class="card-body">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Pacote</th>
                    <th>Valor</th>
                    <th>Data de início</th>
                    <th>Data de término</th>
                    <th>Aprovado</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>{{pacote.nome}}</td>
                    <td>{{pacote.valor | currency : 'BRL'}}</td>
                    <td>{{pacote.dataInicio | date : 'dd/MM/yyyy'}}</td>
                    <td>{{pacote.dataFim | date : 'dd/MM/yyyy'}}</td>
                    <td>{{pacote.aprovado}}</td>
                    <td>
                        <button routerLink="/listagem-pacote" type="submit" class="btn btn-sm btn-primary">Voltar</button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-sm btn-danger">Confirmar</button>
                    </td>
                    
                </tr>
                
            </tbody>

        </table>

    </div>
</div>